* {
    font-family: "Roboto";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 190px 50px 190px;
}

.nav-links {
    display: flex;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 20px;
}

.header-link:visited {
    color: #E5E7EB
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 190px 90px 190px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 20px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: column;
    font-weight: 300;
}

.hero-button {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 8px;
    margin: 0;
    height: 35px;
    width: 100px;
}

.hero-image {
    width: 400px;
    height: 200px;
    background-color: gray;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 40px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info-box-holder {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
}

.info-box {
    height: 130px;
    width: 130px;
    border-radius: 10px;
    border: 2px solid #3882f6;
    margin-bottom: 10px;
}

.info-text {
    font-size: 14px;
    color:#1f2937;
    margin-bottom: 100px;
    width: 130px;
    font-weight: 300;
}

.quote-container {
    display: flex;
    background-color: #e5e7eb;
    padding: 20px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin: 120px 450px 15px;
}

.author {
    display: flex;
    justify-content: flex-end;
    margin-right: 450px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 120px;
}

.cta-container {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 120px;
    border-radius: 5px;
    margin-left: 350px;
    margin-right: 350px
}

.cta-text {
    border-radius: 5px;
    padding: 40px;
    color: #e5e7eb;
    font-weight: 300;
}

.cta-title {
    font-weight: 700;
    font-size: 25px;
}

.cta-button-container {
    display: flex;
    justify-content: flex-end;
}

.cta-button {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 8px;
    margin: 0;
    height: 55px;
    width: 120px;
    border: 2px solid #E5E7EB;
}

.footer {
    background-color: #1F2937;
    padding: 30px;
    text-align: center;
    color: #e5e7eb;
}